@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@font-face {
  font-family: "Nextflix Sans";
  src: url("/fonts/NextflixSans-Regular.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Nextflix Sans";
  src: url("/fonts/NextflixSans-Bold.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Nextflix Sans";
  src: url("/fonts/NextflixSans-Light.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Nextflix Sans";
  src: url("/fonts/NextflixSans-Medium.woff2") format("woff2");
  font-weight: 500;
}

body {
  font-family: "Nextflix Sans", sans-serif;
}

@layer components {
  .container {
    @apply max-w-screen-xl mx-auto gap-6 px-6 py-10 sm:gap-8;
  }
}
